.about-container {
  background-color: aliceblue;
  width: 70rem;
  margin: 5rem auto;
  padding: 2rem;
  height: auto;
}

.about-container h2 {
  margin-bottom: 1rem;
}

#signiture {
  font-family: "Rouge Script";
  font-size: 2rem;
}

#about-container p {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 2;
}
