#ApartmentDetails {
  margin: 2rem auto;
  width: 90vw;
  display: flex;
}

#apartment-img {
  max-height: 80vh;
  margin-top: 1rem;
  display: block;
}

.details-container {
  width: 20vw;
  display: block;
  margin: 10px;
}

.editFloat{
  position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:130px;
	background-color:#e8b384;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  border: none
}

.deleteFloat{
  position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#e8b384;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  border: none
}