#ApartmentList {
  position: relative;
}

.list-container {
  margin: 10rem auto;
  width: 80vw;

  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  gap: 5rem;
}

.card-img-top {
  max-height: 12rem;
  object-fit: cover;
}

.card-head {
  display: flex;
  justify-content: space-between;
}

#beds {
  color: grey;
  height: 1rem;
}

.card-body p {
  margin-bottom: 0.5rem;
  position: relative;
  height: 8vh;
}

#filter-btn {
  background-color: #e8b384;
  position: absolute;
  top: -8rem;
  right: 2rem;
  border-radius: 15%;
  padding: 0.1rem 0.3rem;
}

.check-it-out {
  background-color: #e8b384;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.check-it-out:hover {
  background-color: #d2a177;
  color: black;
}
