#ApartmentDetails {
  margin: 2rem auto;
  width: 90vw;
  display: flex;
}

#apartment-img {
  max-height: 80vh;
  margin-top: 1rem;
  display: block;
}

.details-container {
  width: 20vw;
  display: block;
  margin: 10px;
}

.editFloat{
  position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:130px;
	background-color:#e8b384;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  border: none
}

.deleteFloat{
  position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#e8b384;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  	border: none
}

.cardText{
	color: rgb(113, 111, 111);
	height: 0vh;
}

.card-body p {
    margin-bottom: 0.5rem;
    position: relative;
    height: auto;
}

.col {
	padding: 0;
}

.cardBtn{
	position:absolute;
	right: 20px;
	bottom:10px;
	padding: 10px;
	background-color: #e8b384;
	border-radius:90px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	color: rgb(50, 50, 50);
	width: 100px;
	font-weight: 600;
	text-decoration: none;
}

.bookAval{
	padding: 10px;
	font-size: medium;
	background-color: rgb(136, 132, 132);
	color: aliceblue;
	border-radius:90px;
	width: fit-content;
}
